@import '../css/vars';

.contact-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  min-height: 720px;
  height: 78vh;
  background-color: rgb(247, 247, 247);

  .contact-form-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .contact-form {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;

      .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .contact-info-container {
    min-height: 130px;
    width: 100%;
    align-self: flex-end;
    background-color: rgb(221, 221, 221);

    .contact-info {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;

      a,
      p {
        font-family: $font-content;
        font-display: swap;
        text-decoration: none;
        color: black;
      }
    }
  }

  .contact-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;

    img {
      height: 100%;
      min-height: 78vh;
      width: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: 1200px) {
    flex-direction: column;
    width: 90%;
    height: auto;
    .contact-image img {
      height: 300px;
      min-height: auto;
      width: 100%;
    }

    .contact-form-container {
      width: 100%;
    }

    .contact-container {
      .contact-form {
        width: 90%;
        height: auto;
      }
    }

    .contact-image {
      height: 300px;
      width: 100%;
    }
  }

  @media (max-width: 800px) {
    .contact-info-container {
      min-height: 100px;
    }

    .contact-info {
      font-size: 0.8rem;
    }
  }
}
